*{
    border-radius: 4px;
}

body {
    font-family: Arial, sans-serif;
}

.thankyou-container {
    padding: 1.2%; /* Keep this if you need some padding inside */
    text-align: center; /* Centers the text inside the container */
    max-width: 80%; /* Set a max-width to control its width */
    margin: 0 auto; /* Centers the container horizontally */
}

/* Logo styling */
.header-logo {
    display: inline-block;
    margin-bottom: 15px;
}

.thankyou-logo {
    width: 28em;
    height: auto;
    margin-bottom: 0em;
}

/* Match h1 styling with the rest of the page */
.thankyou-container h2 {
    color: #2C3E50; /* Dark cyan, matching site style */
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.thankyou-container p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

/* Match h1 styling with the rest of the page */
.thankyou-container h2 {
    color: #2C3E50; /* Dark cyan, matches other headings */
    font-size: 2.5em; /* Large font size for emphasis */
    font-weight: 600;
    margin-bottom: 20px;
}

/* Match p styling with the rest of the page */
.thankyou-container p {
  color: #34495E;
  font-size: 1.2em;
}

/* General Table Styling */
.order-summary table {
    width: 100%;
    border-collapse: collapse;
}

.order-summary th, .order-summary td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.order-summary th {
    background-color: #EBFFFF;
}

.order-summary tr:nth-child(odd) {
    background-color: #f4faf9;
}

.order-summary tr:hover {
    background-color: #c5e4f1;
    cursor: pointer;
}

.payment-info {
    margin-top: 3em;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.payment-header {
    display: flex;
    align-items: center; /* Align vertically in the middle */
    justify-content: center;
}
.payment-header h3 {
    margin-right: 10px; /* Add some space between the heading and the logo */
}

.paypal-logo {
    width: 150px;
    height: auto;
}

#download-all-btn:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

/* Style for changed download links */
.downloaded-link {
    color: #478ac9 !important; /* Change text color */
    font-weight: bold; /* Make font bold */
}

/* Style for the "Download All" button after being clicked */
#download-all-btn:active {
    background-color: #478ac9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#access-token {
    word-wrap: break-word; /* Breaks long words onto a new line */
    overflow-wrap: break-word; /* Ensures text wraps within the container */
    white-space: normal; /* Allows the text to wrap */
   /* display: inline-block; /* Keeps the span on its own line */
}


/* Responsive Column Hiding */
@media (max-width: 2065px) {
    th:nth-child(16), td:nth-child(16) { display: none; } /* Tree Deep */
}
@media (max-width: 1950px) {
    th:nth-child(15), td:nth-child(15) { display: none; } /* Precision f1 (%) */
}
@media (max-width: 1835px) {
    th:nth-child(14), td:nth-child(14) { display: none; } /* Numbers Candles */
}
@media (max-width: 1720px) {
    th:nth-child(13), td:nth-child(13) { display: none; } /* Trades Per Candle */
}
@media (max-width: 1605px) {
    th:nth-child(12), td:nth-child(12) { display: none; } /* Months Trained */
}
@media (max-width: 1490px) {
    th:nth-child(11), td:nth-child(11) { display: none; } /* Release Date */
}
@media (max-width: 1375px) {
    th:nth-child(10), td:nth-child(10) { display: none; } /* Avg Bars/Trade */
}
@media (max-width: 1260px) {
    th:nth-child(9), td:nth-child(9) { display: none; } /* Avg Profit (%) */
}
@media (max-width: 1145px) {
    th:nth-child(8), td:nth-child(8) { display: none; } /* Avg Profit ($) */
}
@media (max-width: 1030px) {
    th:nth-child(7), td:nth-child(7) { display: none; } /* Max Loss (%) */
}
@media (max-width: 915px) {
    th:nth-child(6), td:nth-child(6) { display: none; } /* Max Loss ($) */
}
@media (max-width: 685px) {
    th:nth-child(4), td:nth-child(4) { display: none; } /* Win Rate (%) */
}

